@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  // background: rgb(50, 51, 56);
  background: #534e4e;
  overflow-x: hidden;
  width: 100vw;
}

a {
  text-decoration: none;
  color: #e06324;
}

li {
  list-style: none;
}
